TAGS
settings.py
*.py[cod]
*.py_*
.Python
CDN/
bin/
include/
lib/
img/
fonts/
misc/
.DS_STORE
*.json
*~
.*swp
*.jpeg
*.jpg
*.png
*.JPG
*.PNG
*.ico
stripped_requirements.txt
*.orig
._*
mod_wsgi-express*
#*.*#
.#*
\#*\#
*.patched
*_patched
