table, th, td {
   border: 2px solid #097054;
   border-collapse: collapse;
   }
  table {
     margin-bottom: 20px
    }
  td{
      padding:10px
    }
    h3{
            color:red
    }
    h4{
            color:blue
    }
 .hidden {
      display: none;
      }

      .broadcastsmain  li{
              margin-bottom: 10px;
      }
      .broadcastsmain a{
              color: #6f0025;
              text-decoration: none;
              font-weight: bold;
      }
 



